body {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

h3 {
  font-size: 21px;
  font-weight: normal;
  color: gray;
}

.downloadLink {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

.footerDiv {
  text-align: right;
}
